{
  "format_version": 1,
  "rebuild_mode": "clean-start",
  "generated_at": "2026-07-23T12:19:04.922389+00:00",
  "sources": [
    {
      "file": "/Users/user/Downloads/accounting-api-2.yaml",
      "sha256": "1c25ee09e3907482d8490ea1c21b20b33acd4192a44dc645b4ad0f3ca2f0ec78",
      "openapi": "3.0.0",
      "title": "Accounting API",
      "source_title": "Accounting API",
      "version": "1.0",
      "operation_count": 19,
      "schema_count": 44,
      "servers": [
        {
          "url": "https://api.dodois.io/accounting",
          "description": "RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/accounting",
          "description": "Other countries"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/auth-api.yaml",
      "sha256": "1fbd3a5bbf6a62ec4e1d483e907d5d84d19403472edac99850c7eae47482f54a",
      "openapi": "3.0.4",
      "title": "Auth API",
      "source_title": "Auth API",
      "version": "1.0",
      "operation_count": 5,
      "schema_count": 11,
      "servers": [
        {
          "url": "https://api.dodois.io/auth",
          "description": "RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/auth",
          "description": "Other countries"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/inventory-api.yaml",
      "sha256": "d1808506d4958a00944619b71c5778954c29588d0056c85a413a92c052274c64",
      "openapi": "3.0.1",
      "title": "Inventory API",
      "source_title": "Inventory API",
      "version": "1.0",
      "operation_count": 1,
      "schema_count": 11,
      "servers": [
        {
          "url": "https://api.dodois.io/dodopizza/inventory",
          "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/dodopizza/inventory",
          "description": "Dodopizza - Other countries"
        },
        {
          "url": "https://api.dodois.io/drinkit/inventory",
          "description": "Drinkit - RU / KZ"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/label-printer-api.yaml",
      "sha256": "0b27f9021eeac4b78763d51266d7b32da6c82b1fd6579f848231768374898ea9",
      "openapi": "3.0.1",
      "title": "Label Printer API",
      "source_title": "Label printer API",
      "version": "1.0",
      "operation_count": 2,
      "schema_count": 4,
      "servers": [
        {
          "url": "https://api.dodois.io/label-printer/dodopizza",
          "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/label-printer/dodopizza",
          "description": "Dodopizza - Other countries"
        },
        {
          "url": "https://api.dodois.io/label-printer/drinkit",
          "description": "Drinkit - RU / KZ"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/pospayments.yaml",
      "sha256": "130bce16fbfabc9c6f80022b42b54ca0bfe93c99d25f4bc9ef1dd05567b87340",
      "openapi": "3.1.0",
      "title": "POS Payments API",
      "source_title": "Pos Payments API",
      "version": "1.0",
      "operation_count": 1,
      "schema_count": 2,
      "servers": [
        {
          "url": "https://api.dodois.io/pospayments",
          "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/pospayments",
          "description": "Dodopizza - Other countries"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/ratings-api.yaml",
      "sha256": "5d11b5aaa6b8785241c9c5ae286606bbb4498d97166fa1a637a9e210279f6fd4",
      "openapi": "3.0.1",
      "title": "Customer Rating API",
      "source_title": "Customer Rating API",
      "version": "1.0",
      "operation_count": 4,
      "schema_count": 6,
      "servers": [
        {
          "url": "https://api.dodois.io/customer-feedback",
          "description": "RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/customer-feedback",
          "description": "Other countries"
        },
        {
          "url": "https://api.dodois.io/dodopizza/customer-feedback",
          "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/dodopizza/customer-feedback",
          "description": "Dodopizza - Other countries"
        },
        {
          "url": "https://api.dodois.io/drinkit/customer-feedback",
          "description": "Drinkit - RU / KZ"
        },
        {
          "url": "https://api.dodois.com/drinkit/customer-feedback",
          "description": "Drinkit - AE / Other countries"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/staff-api.yaml",
      "sha256": "d186a0d6830a719a088ff554145861ead950ac5708d506622215221fad8e82cf",
      "openapi": "3.0.1",
      "title": "Staff API",
      "source_title": "Staff API",
      "version": "1.0",
      "operation_count": 1,
      "schema_count": 7,
      "servers": [
        {
          "url": "https://api.dodois.io/staff"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/dodo-is-api.yaml",
      "sha256": "150116d7558944af2075ea11ee84c96755f7c6840d99337b0e6cc090d05d6400",
      "openapi": "3.0.1",
      "title": "Dodo IS API",
      "source_title": "Dodo IS API",
      "version": "1.0",
      "operation_count": 77,
      "schema_count": 96,
      "servers": [
        {
          "url": "https://api.dodois.io/dodopizza/ru",
          "description": "Россия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/ae",
          "description": "ОАЭ — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/am",
          "description": "Армения — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/az",
          "description": "Азербайджан — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/bg",
          "description": "Болгария — Dodopizza"
        },
        {
          "url": "https://api.dodois.io/dodopizza/by",
          "description": "Беларусь — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/cy",
          "description": "Кипр — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/de",
          "description": "Германия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/ee",
          "description": "Эстония — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/es",
          "description": "Испания — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/gb",
          "description": "Великобритания — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/ge",
          "description": "Грузия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/hr",
          "description": "Хорватия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/hu",
          "description": "Венгрия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/id",
          "description": "Индонезия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/iq",
          "description": "Ирак — Dodopizza"
        },
        {
          "url": "https://api.dodois.io/dodopizza/kg",
          "description": "Киргизия — Dodopizza"
        },
        {
          "url": "https://api.dodois.io/dodopizza/kz",
          "description": "Казахстан — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/lt",
          "description": "Литва — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/ma",
          "description": "Марокко — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/md",
          "description": "Молдова — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/me",
          "description": "Черногория — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/mn",
          "description": "Монголия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/mx",
          "description": "Мексика — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/ng",
          "description": "Нигерия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/pl",
          "description": "Польша — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/qa",
          "description": "Катар — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/ro",
          "description": "Румыния — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/rs",
          "description": "Сербия — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/si",
          "description": "Словения — Dodopizza"
        },
        {
          "url": "https://api.dodois.io/dodopizza/tj",
          "description": "Таджикистан — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/tr",
          "description": "Турция — Dodopizza"
        },
        {
          "url": "https://api.dodois.io/dodopizza/uz",
          "description": "Узбекистан — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/dodopizza/vn",
          "description": "Вьетнам — Dodopizza"
        },
        {
          "url": "https://api.dodois.com/drinkit/ae",
          "description": "ОАЭ — Drinkit"
        },
        {
          "url": "https://api.dodois.com/drinkit/az",
          "description": "Азербайджан — Drinkit"
        },
        {
          "url": "https://api.dodois.io/drinkit/kz",
          "description": "Казахстан — Drinkit"
        },
        {
          "url": "https://api.dodois.io/drinkit/ru",
          "description": "Россия — Drinkit"
        },
        {
          "url": "https://api.dodois.com/drinkit/us",
          "description": "США — Drinkit"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/franchisee-api.yaml",
      "sha256": "2fca4e560d7c9a3eb0b6719cde87a00f584f4eb0c87dcbc7aaf46a93599f9ebd",
      "openapi": "3.0.1",
      "title": "Franchisee API",
      "source_title": "Сети заведений",
      "version": "1.0",
      "operation_count": 1,
      "schema_count": 6,
      "servers": [
        {
          "url": "https://api.dodois.io/franchisee",
          "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/franchisee",
          "description": "Dodopizza - Other countries"
        }
      ],
      "status": "processed"
    },
    {
      "file": "/Users/user/Downloads/controlling-api.yaml",
      "sha256": "3fdc62bf1b8238cf8afa61390a665af3a2b7da185030fea8caa652ebe8a5f024",
      "openapi": "3.0.1",
      "title": "Controlling API",
      "source_title": "Customer Rating API",
      "version": "1.0",
      "operation_count": 8,
      "schema_count": 19,
      "servers": [
        {
          "url": "https://api.dodois.io/controlling/ratings",
          "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
        },
        {
          "url": "https://api.dodois.com/controlling/ratings",
          "description": "Dodopizza - AE / Other countries"
        }
      ],
      "status": "processed"
    }
  ],
  "servers": [
    {
      "api": "Accounting API",
      "url": "https://api.dodois.io/accounting",
      "description": "RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Accounting API",
      "url": "https://api.dodois.com/accounting",
      "description": "Other countries"
    },
    {
      "api": "Auth API",
      "url": "https://api.dodois.io/auth",
      "description": "RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Auth API",
      "url": "https://api.dodois.com/auth",
      "description": "Other countries"
    },
    {
      "api": "Inventory API",
      "url": "https://api.dodois.io/dodopizza/inventory",
      "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Inventory API",
      "url": "https://api.dodois.com/dodopizza/inventory",
      "description": "Dodopizza - Other countries"
    },
    {
      "api": "Inventory API",
      "url": "https://api.dodois.io/drinkit/inventory",
      "description": "Drinkit - RU / KZ"
    },
    {
      "api": "Label Printer API",
      "url": "https://api.dodois.io/label-printer/dodopizza",
      "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Label Printer API",
      "url": "https://api.dodois.com/label-printer/dodopizza",
      "description": "Dodopizza - Other countries"
    },
    {
      "api": "Label Printer API",
      "url": "https://api.dodois.io/label-printer/drinkit",
      "description": "Drinkit - RU / KZ"
    },
    {
      "api": "POS Payments API",
      "url": "https://api.dodois.io/pospayments",
      "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "POS Payments API",
      "url": "https://api.dodois.com/pospayments",
      "description": "Dodopizza - Other countries"
    },
    {
      "api": "Customer Rating API",
      "url": "https://api.dodois.io/customer-feedback",
      "description": "RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Customer Rating API",
      "url": "https://api.dodois.com/customer-feedback",
      "description": "Other countries"
    },
    {
      "api": "Customer Rating API",
      "url": "https://api.dodois.io/dodopizza/customer-feedback",
      "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Customer Rating API",
      "url": "https://api.dodois.com/dodopizza/customer-feedback",
      "description": "Dodopizza - Other countries"
    },
    {
      "api": "Customer Rating API",
      "url": "https://api.dodois.io/drinkit/customer-feedback",
      "description": "Drinkit - RU / KZ"
    },
    {
      "api": "Customer Rating API",
      "url": "https://api.dodois.com/drinkit/customer-feedback",
      "description": "Drinkit - AE / Other countries"
    },
    {
      "api": "Staff API",
      "url": "https://api.dodois.io/staff"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/dodopizza/ru",
      "description": "Россия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/ae",
      "description": "ОАЭ — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/am",
      "description": "Армения — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/az",
      "description": "Азербайджан — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/bg",
      "description": "Болгария — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/dodopizza/by",
      "description": "Беларусь — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/cy",
      "description": "Кипр — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/de",
      "description": "Германия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/ee",
      "description": "Эстония — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/es",
      "description": "Испания — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/gb",
      "description": "Великобритания — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/ge",
      "description": "Грузия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/hr",
      "description": "Хорватия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/hu",
      "description": "Венгрия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/id",
      "description": "Индонезия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/iq",
      "description": "Ирак — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/dodopizza/kg",
      "description": "Киргизия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/dodopizza/kz",
      "description": "Казахстан — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/lt",
      "description": "Литва — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/ma",
      "description": "Марокко — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/md",
      "description": "Молдова — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/me",
      "description": "Черногория — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/mn",
      "description": "Монголия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/mx",
      "description": "Мексика — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/ng",
      "description": "Нигерия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/pl",
      "description": "Польша — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/qa",
      "description": "Катар — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/ro",
      "description": "Румыния — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/rs",
      "description": "Сербия — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/si",
      "description": "Словения — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/dodopizza/tj",
      "description": "Таджикистан — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/tr",
      "description": "Турция — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/dodopizza/uz",
      "description": "Узбекистан — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/dodopizza/vn",
      "description": "Вьетнам — Dodopizza"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/drinkit/ae",
      "description": "ОАЭ — Drinkit"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/drinkit/az",
      "description": "Азербайджан — Drinkit"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/drinkit/kz",
      "description": "Казахстан — Drinkit"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.io/drinkit/ru",
      "description": "Россия — Drinkit"
    },
    {
      "api": "Dodo IS API",
      "url": "https://api.dodois.com/drinkit/us",
      "description": "США — Drinkit"
    },
    {
      "api": "Franchisee API",
      "url": "https://api.dodois.io/franchisee",
      "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Franchisee API",
      "url": "https://api.dodois.com/franchisee",
      "description": "Dodopizza - Other countries"
    },
    {
      "api": "Controlling API",
      "url": "https://api.dodois.io/controlling/ratings",
      "description": "Dodopizza - RU / KZ / BY / KG / TJ / UZ"
    },
    {
      "api": "Controlling API",
      "url": "https://api.dodois.com/controlling/ratings",
      "description": "Dodopizza - AE / Other countries"
    }
  ],
  "oauth_schemes": [
    {
      "api": "Accounting API",
      "name": "Dodo oauth2",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "scopes": {
            "accounting": "Учет, общий доступ (obsolete, наследуемая область для совместимости)",
            "accounting:read": "Учет, доступ на чтение",
            "accounting:write": "Учет, доступ на запись",
            "accounting:manufacture": "Учет, мануфактура, доступ на чтение и запись. Используется для интеграции с 1С"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token"
        }
      }
    },
    {
      "api": "Auth API",
      "name": "ReadUserStatus",
      "type": "oauth2",
      "flows": {
        "clientCredentials": {
          "scopes": {
            "users:feed": "Получение обновлений состояния пользователей"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token"
        }
      }
    },
    {
      "api": "Auth API",
      "name": "ReadRoles",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "scopes": {
            "user.role:read": "Роли и юниты пользователя"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token"
        }
      }
    },
    {
      "api": "Inventory API",
      "name": "Dodo oauth2",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "scopes": {
            "accounting": "Учет"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "authorizationUrl": "https://auth.dodois.io/connect/authorize"
        }
      },
      "description": ""
    },
    {
      "api": "Label Printer API",
      "name": "Authorization",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "labelprinter_api": "Доступ к данным принтера этикеток",
            "offline_access": "Скоуп для получения refresh_token"
          },
          "refreshUrl": "https://auth.dodois.io/connect/token"
        }
      },
      "description": ""
    },
    {
      "api": "POS Payments API",
      "name": "ServiceToken",
      "type": "oauth2",
      "flows": {
        "clientCredentials": {
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "pospayments:read": "Чтение данных по платежам в ресторане"
          },
          "refreshUrl": "https://auth.dodois.io/connect/token"
        }
      },
      "description": ""
    },
    {
      "api": "Customer Rating API",
      "name": "Dodo oauth2",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "scopes": {
            "shared": "Данные, доступные внутри сети без ограничений"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token"
        },
        "clientCredentials": {
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "shared": "Данные, доступные внутри сети без ограничений"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token"
        }
      }
    },
    {
      "api": "Staff API",
      "name": "Authorization",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "dodo_staff_api": "Скоуп на общие методы домена staff",
            "recruitment:read": "Доступ на чтение к методам Найма.",
            "offline_access": "Скоуп для получения refresh_token",
            "recruitment:write": "Доступ на запись к методам Найма.",
            "applicants": "Анкеты кандидатов. (включает персональные данные)",
            "training:write": "Доступ на запись к информации по обучению",
            "training:read": "Доступ на чтение к информации по обучению"
          }
        }
      }
    },
    {
      "api": "Dodo IS API",
      "name": "Authorization",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "shared": "общее",
            "orders": "Заказы",
            "accounting": "Учет, общий доступ (obsolete, наследуемая область для совместимости)",
            "accounting:read": "Учет, доступ на чтение",
            "deliverystatistics": "Статистика доставки",
            "incentives": "Вознаграждения сотруников",
            "offline_access": "Получение refresh_token",
            "organizationstructure": "Оргструктура",
            "localities:read": "Населённые пункты, доступ на чтение",
            "productionefficiency": "Эффективность производства",
            "sales": "Продажи",
            "staffshifts:read": "Смены сотрудников / команды, доступ на чтение",
            "staffshifts:write": "Смены сотрудников / команды, доступ на запись",
            "staffmembers:read": "Сотрудники / команда, доступ на чтение (содержит персональные данные)",
            "staffmembers:write": "Сотрудники / команда, доступ на запись",
            "stopsales": "Стоп-продажи",
            "unitshifts:read": "Смены заведений, доступ на чтение",
            "staffmembersearch": "Поиск сотрудников",
            "receipts:write": "Оформление поставок",
            "unit:read": "Заведения, доступ на чтение",
            "unit:write": "Заведения, доступ на запись",
            "user.role:read": "Роли и юниты пользователя"
          }
        }
      },
      "description": ""
    },
    {
      "api": "Franchisee API",
      "name": "Authorization",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "authorizationUrl": "https://auth.dodois.io/connect/authorize",
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "franchisee:read": "Получение информации о сетях заведений"
          },
          "refreshUrl": "https://auth.dodois.io/connect/token"
        }
      },
      "description": ""
    },
    {
      "api": "Franchisee API",
      "name": "Service Token",
      "type": "oauth2",
      "flows": {
        "clientCredentials": {
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "franchisee:read": "Получение информации о сетях заведений"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token"
        }
      }
    },
    {
      "api": "Controlling API",
      "name": "Dodo oauth2",
      "type": "oauth2",
      "flows": {
        "authorizationCode": {
          "scopes": {
            "shared": "Данные, доступные внутри сети без ограничений"
          },
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "authorizationUrl": "https://auth.dodois.io/connect/authorize"
        },
        "clientCredentials": {
          "tokenUrl": "https://auth.dodois.io/connect/token",
          "refreshUrl": "https://auth.dodois.io/connect/token",
          "scopes": {
            "shared": "Данные, доступные внутри сети без ограничений"
          }
        }
      },
      "description": ""
    }
  ],
  "excluded_sources": [
    {
      "file": "/Users/user/Downloads/accounting-api.yaml",
      "sha256": "81469185cbb96b29d916e1a255c3ff4f409e7adef52237ca57b469ea6c383e34",
      "openapi": "3.2.0",
      "title": "Accounting API",
      "version": "1.0",
      "status": "excluded-duplicate",
      "duplicate_of": "/Users/user/Downloads/accounting-api-2.yaml",
      "reason": "Совпадают HTTP-методы, пути и operationId; основной файл содержит дополнительную компонентную схему supplierName."
    }
  ],
  "operation_count": 119,
  "schema_count": 206,
  "operations": [
    {
      "api": "Accounting API",
      "api_key": "accounting",
      "id": "delete-manufacture-available-stock-item",
      "title": "Мануфактуры → Удаление доступного сырья",
      "method": "DELETE",
      "path": "/manufactures/{manufactureId}/stock-items/available/{stockItemId}",
      "links": [
        "https://api.dodois.io/accounting/manufactures/{manufactureId}/stock-items/available/{stockItemId}",
        "https://api.dodois.com/accounting/manufactures/{manufactureId}/stock-items/available/{stockItemId}"
      ],
      "all_links": [
        "https://api.dodois.io/accounting/manufactures/{manufactureId}/stock-items/available/{stockItemId}",
        "https://api.dodois.com/accounting/manufactures/{manufactureId}/stock-items/available/{stockItemId}"
      ],
      "server_count": 2,
      "description": "Удаляет сырьё из списка доступного сырья мануфактуры. После удаления сырьё перестаёт быть доступным\nдля заказа в клиентских заказах юнитов в указанную мануфактуру.\n\nЕсли сырьё отсутствует в списке доступного сырья, операция завершается успешно без изменений.",
      "parameters": [
        {
          "name": "manufactureId",
          "in": "path",
          "description": "Уникальный идентификатор мануфактуры",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "pattern": "[0-9a-f]{32}",
            "minLength": 32,
            "maxLength": 32,
            "example": "000d3a240c719a8711e68aba13f7f862",
            "x-resolved-from": "#/components/schemas/Id"
          }
        },
        {
          "name": "stockItemId",
          "in": "path",
          "description": "Уникальный идентификатор сырья",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid",
            "pattern": "[0-9a-f]{32}",
            "minLength": 32,
            "maxLength": 32,
            "example": "000d3a240c719a8711e68aba13f7f862",
            "x-resolved-from": "#/components/schemas/Id"
          }
        }
      ],
      "request_body": null,
      "responses": [
        {
          "status": "204",
          "description": "Сырьё успешно удалено из списка доступного сырья мануфактуры или уже отсутствовало в нём",
          "content_type": null,
          "schema": null,
          "examples": {}
        },
        {
          "status": "400",
          "description": "#### Некорректный запрос.\n\nВозможные коды ошибок поля code:\n- `ValidationError` — общая ошибка валидации\n\nКоды ошибок блока details.errors:\n- `EntityNotFound` — сырьё не существует",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContractBadRequest",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "ValidationError"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 400
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки.",
                "properties": {
                  "errors": {
                    "type": "array",
                    "description": "Список валидационных ошибок.",
                    "items": {
                      "type": "object",
                      "title": "BadRequestError",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Код ошибки"
                        },
                        "field": {
                          "type": "string",
                          "description": "Параметр запроса, содержащий невалидные данные"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "field",
                        "message"
                      ],
                      "x-resolved-from": "#/components/schemas/BadRequestError"
                    }
                  }
                }
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContractBadRequest"
          },
          "examples": {}
        },
        {
          "status": "401",
          "description": "#### Пользователь не авторизован",
          "content_type": null,
          "schema": null,
          "examples": {}
        },
        {
          "status": "403",
          "description": "#### Недостаточно прав\n\nВозможные коды ошибок поля code:\n- `InsufficientRoles` — отсутствует необходимая роль для выполнения запроса\n- `InsufficientScopes` — нет доступа к api. В токене не передан необходимый scope\n- `NoAccessToUnit` — нет доступа к заведению",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContract",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "NoAccessToUnit"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 403
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string",
                "example": "No access to the requested unit"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки. Может содержать дополнительную информацию об ошибке. Формат может отличаться в зависимости от кода ошибки."
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContract"
          },
          "examples": {}
        },
        {
          "status": "404",
          "description": "#### Мануфактура не найдена\n\nВозвращается если мануфактуры с переданным manufactureId не существует",
          "content_type": null,
          "schema": null,
          "examples": {}
        },
        {
          "status": "500",
          "description": "#### Внутренняя ошибка сервера\n\nКоды ошибок:\n - `InternalError` - внутренняя ошибка сервера",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContract",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "NoAccessToUnit"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 403
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string",
                "example": "No access to the requested unit"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки. Может содержать дополнительную информацию об ошибке. Формат может отличаться в зависимости от кода ошибки."
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContract"
          },
          "examples": {}
        }
      ],
      "scope_alternatives": [
        {
          "scheme": "Dodo oauth2",
          "scopes": [
            "accounting:manufacture"
          ]
        }
      ],
      "scopes": [
        "accounting:manufacture"
      ],
      "json_example": {
        "kind": "not-applicable",
        "status": "204",
        "name": "JSON-тело отсутствует",
        "value": null,
        "origin": "not-applicable-no-json-body"
      },
      "special_access": {
        "oauth_token_required": true,
        "oauth_flows": [
          "authorizationCode"
        ],
        "roles": [],
        "unit_access_required": false,
        "drinkit_only": false,
        "manufacture_access_required": true,
        "notes": "Дополнительные роли в OpenAPI не указаны."
      },
      "deprecated": false
    },
    {
      "api": "Accounting API",
      "api_key": "accounting",
      "id": "get-stock-items",
      "title": "Справочники → Сырьё",
      "method": "GET",
      "path": "/catalogs/stock-items",
      "links": [
        "https://api.dodois.io/accounting/catalogs/stock-items",
        "https://api.dodois.com/accounting/catalogs/stock-items"
      ],
      "all_links": [
        "https://api.dodois.io/accounting/catalogs/stock-items",
        "https://api.dodois.com/accounting/catalogs/stock-items"
      ],
      "server_count": 2,
      "description": "Возвращает список сырья.\n\nЕсли указан параметр `modifiedAt`, результат отсортирован по дате последнего изменения (`modifiedAt`) по возрастанию, а затем по идентификатору. Иначе — только по идентификатору.\n\nПо умолчанию возвращает только федеральное сырьё. \n\nЕсли указан параметр `units`, дополнительно возвращает локальное сырьё для указанных заведений.\n\nПоддерживается два способа пагинации:\n- **Offset-based:** нужно указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).\n- **Cursor-based:** нужно использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса. Повторять до `isEndOfListReached = true`.\nВ обоих случаях нужно указывать `take` - сколько записей нужно получить.\n\n### Требования к query параметрам:\n1. В `units` можно перечислить до 30 заведений в одном запросе\n2. В `units` следует перечислять UUID-ы строго через запятую без пробелов\n3. `modifiedAt` должен быть в формате ISO 8601 (UTC)\n4. `includeRemoved` и `includeArchived` — булевые значения, по умолчанию `false`\n5. `skip` должен быть не меньше 0, по умолчанию 0\n6. `take` должен быть от 1 до 1000, по умолчанию 100",
      "parameters": [
        {
          "name": "units",
          "in": "query",
          "description": "Список заведений Dodo IS в формате UUID через запятую. Если указан, в ответ дополнительно включается локальное сырьё для этих заведений",
          "required": false,
          "schema": {
            "type": "string",
            "pattern": "^[0-9a-f]{32}(,[0-9a-f]{32})*$",
            "minLength": 32,
            "maxLength": 989,
            "example": "000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a"
          }
        },
        {
          "name": "modifiedAt",
          "in": "query",
          "description": "Фильтр по дате последнего изменения в формате ISO 8601 (UTC). Возвращает записи с `modifiedAt >= значение`. Используется для cursor-based пагинации",
          "required": false,
          "schema": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:30:00.000012Z"
          }
        },
        {
          "name": "includeRemoved",
          "in": "query",
          "description": "Включать в ответ удаленные записи",
          "schema": {
            "type": "boolean",
            "default": false,
            "example": false
          },
          "x-resolved-from": "#/components/parameters/includeRemoved"
        },
        {
          "name": "includeArchived",
          "in": "query",
          "description": "Включать в ответ архивные записи",
          "schema": {
            "type": "boolean",
            "default": false,
            "example": false
          },
          "x-resolved-from": "#/components/parameters/includeArchived"
        },
        {
          "name": "skip",
          "in": "query",
          "description": "Количество записей, которые следует пропустить",
          "schema": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "example": 100
          },
          "x-resolved-from": "#/components/parameters/skip"
        },
        {
          "name": "take",
          "in": "query",
          "description": "Количество записей, которые следует выбрать (максимум 1000)",
          "schema": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100,
            "example": 100
          },
          "x-resolved-from": "#/components/parameters/takeLarge"
        }
      ],
      "request_body": null,
      "responses": [
        {
          "status": "200",
          "description": "OK",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "properties": {
              "stockItems": {
                "type": "array",
                "description": "Список сырья",
                "items": {
                  "type": "object",
                  "title": "StockItem",
                  "description": "Сырьё (федеральное или локальное)",
                  "properties": {
                    "id": {
                      "description": "Уникальный идентификатор сырья",
                      "allOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "[0-9a-f]{32}",
                          "minLength": 32,
                          "maxLength": 32,
                          "example": "000d3a240c719a8711e68aba13f7f862",
                          "x-resolved-from": "#/components/schemas/Id"
                        }
                      ]
                    },
                    "name": {
                      "type": "string",
                      "description": "Название сырья",
                      "example": "Томаты"
                    },
                    "measurementUnit": {
                      "type": "string",
                      "enum": [
                        "Quantity",
                        "Kilogram",
                        "Liter",
                        "Meter"
                      ],
                      "title": "MeasurementUnit",
                      "description": "Наименование единицы измерения",
                      "example": "Quantity",
                      "x-resolved-from": "#/components/schemas/MeasurementUnit"
                    },
                    "categoryName": {
                      "type": "string",
                      "enum": [
                        "Ingredient",
                        "SemiFinishedProduct",
                        "FinishedProduct",
                        "Inventory",
                        "Packing",
                        "Consumables"
                      ],
                      "title": "StockItemCategoryName",
                      "description": "Категория сырья:\n- `Ingredient` — ингредиент\n- `SemiFinishedProduct` — полуфабрикат\n- `FinishedProduct` — готовый продукт\n- `Inventory` — инвентарь\n- `Packing` — упаковка\n- `Consumables` — расходные материалы",
                      "example": "Ingredient",
                      "x-resolved-from": "#/components/schemas/StockItemCategoryName"
                    },
                    "isLocal": {
                      "type": "boolean",
                      "description": "Признак локального сырья. `true` — локальное (создано для конкретного подразделения), `false` — федеральное",
                      "example": false
                    },
                    "isRemoved": {
                      "type": "boolean",
                      "description": "Признак удалённого сырья. Если true — позиция была удалена из каталога.",
                      "example": false
                    },
                    "isArchived": {
                      "type": "boolean",
                      "description": "Признак архивной позиции. Если true — позиция была переведена в архив. Архивные позиции больше не используются в операционной деятельности (не участвуют в заказах, приёмках, списаниях), но сохраняются для исторических данных.",
                      "example": false
                    },
                    "isProducible": {
                      "type": "boolean",
                      "description": "Признак производимой позиции. Если true — позиция является полуфабрикатом или готовым продуктом, который может производиться на точке (например, тесто, соус). Если false — позиция всегда закупается у поставщиков и не может производиться самостоятельно.",
                      "example": false
                    },
                    "modifiedAt": {
                      "type": "string",
                      "description": "Дата и время последнего изменения записи в UTC (ISO 8601), с точностью до микросекунд",
                      "format": "date-time",
                      "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{6}Z$",
                      "example": "2024-03-15T14:30:00.000001Z",
                      "x-resolved-from": "#/components/schemas/ModifiedAt"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "measurementUnit",
                    "categoryName",
                    "isLocal",
                    "isRemoved",
                    "isArchived",
                    "isProducible",
                    "modifiedAt"
                  ],
                  "x-resolved-from": "#/components/schemas/StockItem"
                }
              },
              "isEndOfListReached": {
                "type": "boolean",
                "title": "IsEndOfListReached",
                "description": "Индикатор того, что достигнут конец списка. Выдаёт true, если достигнут конец списка",
                "x-resolved-from": "#/components/schemas/IsEndOfListReached"
              }
            },
            "required": [
              "stockItems",
              "isEndOfListReached"
            ]
          },
          "examples": {
            "Example 1": {
              "value": {
                "stockItems": [
                  {
                    "id": "000d3a240c719a8711e68aba13f7f862",
                    "name": "Томаты",
                    "measurementUnit": "Kilogram",
                    "categoryName": "Ingredient",
                    "isLocal": false,
                    "isRemoved": false,
                    "isArchived": false,
                    "isProducible": false,
                    "modifiedAt": "2025-01-15T10:30:00.000100Z"
                  }
                ],
                "isEndOfListReached": false
              }
            }
          }
        },
        {
          "status": "400",
          "description": "#### Некорректный запрос.\n\nКоды ошибок блока errors:\n  - `Required` - не передано обязательное поле\n  - `TooManyUnits` - передано слишком много юнитов (максимум 30)\n  - `ValueTooSmall` - значение меньше минимально допустимого\n  - `ValueTooLarge` - значение превышает максимально допустимое",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContractBadRequest",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "ValidationError"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 400
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки.",
                "properties": {
                  "errors": {
                    "type": "array",
                    "description": "Список валидационных ошибок.",
                    "items": {
                      "type": "object",
                      "title": "BadRequestError",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Код ошибки"
                        },
                        "field": {
                          "type": "string",
                          "description": "Параметр запроса, содержащий невалидные данные"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "field",
                        "message"
                      ],
                      "x-resolved-from": "#/components/schemas/BadRequestError"
                    }
                  }
                }
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContractBadRequest"
          },
          "examples": {}
        },
        {
          "status": "401",
          "description": "#### Пользователь не авторизован",
          "content_type": null,
          "schema": null,
          "examples": {}
        },
        {
          "status": "403",
          "description": "#### Недостаточно прав\n\nКоды ошибок:\n- `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса\n- `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.\n- `NoAccessToUnit` - нет доступа к заведению",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContract",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "NoAccessToUnit"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 403
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string",
                "example": "No access to the requested unit"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки. Может содержать дополнительную информацию об ошибке. Формат может отличаться в зависимости от кода ошибки."
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContract"
          },
          "examples": {}
        },
        {
          "status": "500",
          "description": "#### Внутренняя ошибка сервера\nКоды ошибок:\n - `InternalError` - внутренняя ошибка сервера",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContract",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "NoAccessToUnit"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 403
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string",
                "example": "No access to the requested unit"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки. Может содержать дополнительную информацию об ошибке. Формат может отличаться в зависимости от кода ошибки."
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContract"
          },
          "examples": {}
        }
      ],
      "scope_alternatives": [
        {
          "scheme": "Dodo oauth2",
          "scopes": [
            "accounting:read"
          ]
        }
      ],
      "scopes": [
        "accounting:read"
      ],
      "json_example": {
        "name": "Example 1",
        "value": {
          "stockItems": [
            {
              "id": "000d3a240c719a8711e68aba13f7f862",
              "name": "Томаты",
              "measurementUnit": "Kilogram",
              "categoryName": "Ingredient",
              "isLocal": false,
              "isRemoved": false,
              "isArchived": false,
              "isProducible": false,
              "modifiedAt": "2025-01-15T10:30:00.000100Z"
            }
          ],
          "isEndOfListReached": false
        },
        "origin": "explicit-openapi-example",
        "kind": "response",
        "status": "200"
      },
      "special_access": {
        "oauth_token_required": true,
        "oauth_flows": [
          "authorizationCode"
        ],
        "roles": [],
        "unit_access_required": true,
        "drinkit_only": false,
        "manufacture_access_required": false,
        "notes": "Дополнительные роли в OpenAPI не указаны."
      },
      "deprecated": false
    },
    {
      "api": "Accounting API",
      "api_key": "accounting",
      "id": "get-document-changes",
      "title": "Документы → История изменений",
      "method": "GET",
      "path": "/documents/{documentId}/changes",
      "links": [
        "https://api.dodois.io/accounting/documents/{documentId}/changes",
        "https://api.dodois.com/accounting/documents/{documentId}/changes"
      ],
      "all_links": [
        "https://api.dodois.io/accounting/documents/{documentId}/changes",
        "https://api.dodois.com/accounting/documents/{documentId}/changes"
      ],
      "server_count": 2,
      "description": "Получение хронологии изменений документа указанного типа.\nВ текущей версии API метод доступен только для документов типа `Supply` (приход сырья).\nОтвет содержит массив версий документа. Каждая версия включает в себя массив изменений основного документа и соответствующий список изменений его элементов (позиций/компонентов).\nСортировка записей - по возрастанию номера версии. Уникальность каждого элемента массива обеспечивается по номеру версии.\n### Требования к параметрам запроса:\n1. В path-параметре `documentId` следует указать UUID документа;\n2. В query-параметре `documentType` следует указать тип документа `Supply`;\n> #### Доступно для следующих ролей:\n>\n>   `Division administrator` - Администратор подразделения\n>\n>   `Store Manager` - Менеджер офиса\n>\n>   `Shift Manager` - Менеджер смены",
      "parameters": [
        {
          "name": "documentType",
          "in": "query",
          "description": "Тип запрашиваемого документа. На данный момент поддерживается только один тип документа - Приход сырья (Supply)",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "Supply"
            ],
            "default": "Supply",
            "example": "Supply"
          }
        },
        {
          "name": "documentId",
          "in": "path",
          "description": "ID документа в формате UUID. Соответствует идентификатору из \"Поставки → Приходы сырья\"",
          "required": true,
          "schema": {
            "type": "string",
            "pattern": "[0-9a-f]{32}",
            "minLength": 32,
            "maxLength": 32,
            "example": "000d3a240c719a8711e68aba13f7f862"
          }
        }
      ],
      "request_body": null,
      "responses": [
        {
          "status": "200",
          "description": "OK",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "properties": {
              "documentChanges": {
                "type": "array",
                "description": "Список изменений документов",
                "uniqueItems": true,
                "items": {
                  "type": "object",
                  "title": "DocumentChangesResponse",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "description": "Идентификатор документа",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "000d3a240c719a8711e68aba13f7f862"
                    },
                    "documentVersion": {
                      "type": "integer",
                      "description": "Идентификатор текущей версии документа",
                      "example": 1
                    },
                    "modifiedByUserId": {
                      "type": "string",
                      "description": "Идентификатор пользователя, сделавшего изменение",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "000d3a240c719a8711e68aba13f7f862"
                    },
                    "modifiedAt": {
                      "type": "string",
                      "description": "Дата и время изменения в UTC",
                      "format": "date-time",
                      "example": "2011-08-01T18:32:44.123456Z"
                    },
                    "unitId": {
                      "type": "string",
                      "description": "Идентификатор заведения",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "000d3a240c719a8711e68aba13f7f862"
                    },
                    "unitName": {
                      "type": "string",
                      "description": "Название заведения",
                      "example": "Сыктывкар-1"
                    },
                    "changes": {
                      "type": "array",
                      "description": "Список изменений в текущей версии документа",
                      "items": {
                        "type": "string"
                      }
                    },
                    "componentChanges": {
                      "type": "array",
                      "description": "Список изменений компонентов в текущей версии документа. Пустой список в случае отсутствия изменений компонентов.",
                      "items": {
                        "type": "object",
                        "title": "DocumentComponentChange",
                        "properties": {
                          "documentItemId": {
                            "type": "string",
                            "description": "Идентификатор компонента",
                            "format": "uuid",
                            "pattern": "[0-9a-f]{32}",
                            "minLength": 32,
                            "maxLength": 32,
                            "example": "000d3a240c719a8711e68aba13f7f862"
                          },
                          "changes": {
                            "type": "array",
                            "description": "Список изменений компонента в текущей версии документа",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "documentItemId",
                          "changes"
                        ],
                        "x-resolved-from": "#/components/schemas/DocumentComponentChange"
                      }
                    }
                  },
                  "required": [
                    "documentId",
                    "documentVersion",
                    "modifiedByUserId",
                    "modifiedAt",
                    "unitId",
                    "unitName",
                    "changes",
                    "componentChanges"
                  ],
                  "x-resolved-from": "#/components/schemas/DocumentChangesResponse"
                }
              }
            },
            "required": [
              "documentChanges"
            ]
          },
          "examples": {
            "Example 1": {
              "value": {
                "documentChanges": [
                  {
                    "documentId": "000d3a240c719a8711e68aba13f7f862",
                    "documentVersion": 1,
                    "modifiedByUserId": "000d3a240c719a8711e68aba13f7f862",
                    "modifiedAt": "2011-08-01T18:31:42",
                    "unitId": "000d3a240c719a8711e68aba13f7f862",
                    "unitName": "Сыктывкар-1",
                    "changes": [
                      "Дата счета-фактуры была изменена с 09.02.2026 на 10.02.2026."
                    ],
                    "componentChanges": [
                      {
                        "documentItemId": "000d3a240c719a8711e68aba13f7f862",
                        "changes": [
                          "Запись добавлена Тесто 20 \\\"Плюшка 20\\\" - 176 шт, сумма без НДС - 725,12, сумма НДС - 0,00, сумма с НДС - 725,12, цена за единицу шт, цена за 1 кг — 4,12.",
                          "Сумма с НДС: было 11,00, теперь 111,00.",
                          "Сумма без НДС: было 11,00, стало 111,00."
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      ],
      "scope_alternatives": [
        {
          "scheme": "Dodo oauth2",
          "scopes": [
            "accounting:read"
          ]
        }
      ],
      "scopes": [
        "accounting:read"
      ],
      "json_example": {
        "name": "Example 1",
        "value": {
          "documentChanges": [
            {
              "documentId": "000d3a240c719a8711e68aba13f7f862",
              "documentVersion": 1,
              "modifiedByUserId": "000d3a240c719a8711e68aba13f7f862",
              "modifiedAt": "2011-08-01T18:31:42",
              "unitId": "000d3a240c719a8711e68aba13f7f862",
              "unitName": "Сыктывкар-1",
              "changes": [
                "Дата счета-фактуры была изменена с 09.02.2026 на 10.02.2026."
              ],
              "componentChanges": [
                {
                  "documentItemId": "000d3a240c719a8711e68aba13f7f862",
                  "changes": [
                    "Запись добавлена Тесто 20 \\\"Плюшка 20\\\" - 176 шт, сумма без НДС - 725,12, сумма НДС - 0,00, сумма с НДС - 725,12, цена за единицу шт, цена за 1 кг — 4,12.",
                    "Сумма с НДС: было 11,00, теперь 111,00.",
                    "Сумма без НДС: было 11,00, стало 111,00."
                  ]
                }
              ]
            }
          ]
        },
        "origin": "explicit-openapi-example",
        "kind": "response",
        "status": "200"
      },
      "special_access": {
        "oauth_token_required": true,
        "oauth_flows": [
          "authorizationCode"
        ],
        "roles": [
          "Division administrator",
          "Store Manager",
          "Shift Manager"
        ],
        "unit_access_required": false,
        "drinkit_only": false,
        "manufacture_access_required": false,
        "notes": null
      },
      "deprecated": false
    },
    {
      "api": "Accounting API",
      "api_key": "accounting",
      "id": "get-incoming-stock-supplies",
      "title": "Поставки → Приходы сырья",
      "method": "GET",
      "path": "/incoming-stock/supplies",
      "links": [
        "https://api.dodois.io/accounting/incoming-stock/supplies",
        "https://api.dodois.com/accounting/incoming-stock/supplies"
      ],
      "all_links": [
        "https://api.dodois.io/accounting/incoming-stock/supplies",
        "https://api.dodois.com/accounting/incoming-stock/supplies"
      ],
      "server_count": 2,
      "description": "Возвращает список приходов за указанный период (включительно), сгруппированный по накладной и отсортированный по дате получения и идентификатору записи.\nДля получения данных необходимо указывать параметр `skip`, смещая его на количество уже полученных записей. Повторять до тех пор, пока не будет достигнут конец списка (`isEndOfListReached = true`).\n### Требования к query параметрам:\n1. В `units` можно перечислить до 30 заведений в одном запросе;\n2. В `units` следует перечислять UUID-ы строго через запятую без пробелов;\n3. `from` должен быть меньше, чем `to`;\n> #### Доступно для следующих ролей:\n>\n>   `Division administrator` - Администратор подразделения\n>\n>   `Store Manager` - Менеджер офиса",
      "parameters": [
        {
          "name": "from",
          "in": "query",
          "description": "Начало периода в формате ISO 8601 (в UTC)",
          "required": true,
          "schema": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
            "example": "2011-08-01T18:31:42"
          },
          "x-resolved-from": "#/components/parameters/from"
        },
        {
          "name": "to",
          "in": "query",
          "description": "Конец периода в формате ISO 8601 (в UTC)",
          "required": true,
          "schema": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
            "example": "2011-09-02T19:21:53"
          },
          "x-resolved-from": "#/components/parameters/to"
        },
        {
          "name": "skip",
          "in": "query",
          "description": "Количество записей, которые следует пропустить",
          "schema": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "example": 100
          },
          "x-resolved-from": "#/components/parameters/skip"
        },
        {
          "name": "take",
          "in": "query",
          "description": "Количество записей, которые следует выбрать",
          "schema": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 10,
            "example": 10
          },
          "x-resolved-from": "#/components/parameters/take"
        },
        {
          "name": "units",
          "in": "query",
          "description": "Список заведений (пиццерий) Dodo IS в формате UUID",
          "required": true,
          "schema": {
            "type": "string",
            "example": "000d3a240c719a8711e68aba13f7f862,000d3a240c719a8711e68aba13f7fc8a,000d3a240c719a8711e68aba13f7fe13"
          },
          "x-resolved-from": "#/components/parameters/units"
        },
        {
          "name": "includeRemoved",
          "in": "query",
          "description": "Включать в ответ удаленные записи",
          "schema": {
            "type": "boolean",
            "default": false,
            "example": false
          },
          "x-resolved-from": "#/components/parameters/includeRemoved"
        }
      ],
      "request_body": null,
      "responses": [
        {
          "status": "200",
          "description": "",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "properties": {
              "result": {
                "type": "array",
                "description": "Список записей о приходах",
                "items": {
                  "type": "object",
                  "title": "IncomingStockSupply",
                  "properties": {
                    "incomingStockOrderId": {
                      "type": "string",
                      "description": "Идентификатор поставки",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "000d3a240c719a8711e68aba13f7f862"
                    },
                    "unitId": {
                      "type": "string",
                      "description": "Идентификатор заведения",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "000d3a240c719a8711e68aba13f7f862"
                    },
                    "unitName": {
                      "type": "string",
                      "description": "Название заведения",
                      "example": "Сыктывкар-1"
                    },
                    "organizationId": {
                      "type": "string",
                      "description": "Идентификатор организации. Соответствует идентификатору из \"Оргструктура → Список юрлиц\"",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "019c576054687058aa46b3f69790ab5f"
                    },
                    "supplierId": {
                      "type": "string",
                      "description": "Идентификатор поставщика. Соответствует идентификатору из \"Учет → Список поставщиков\"",
                      "format": "uuid",
                      "pattern": "[0-9a-f]{32}",
                      "minLength": 32,
                      "maxLength": 32,
                      "example": "000d3a240c719a8711e68aba13f7f862"
                    },
                    "supplierName": {
                      "type": "string",
                      "description": "Наименование поставщика",
                      "example": "ООО Продукты"
                    },
                    "supplierTaxId": {
                      "type": "string",
                      "description": "ИНН/TIN/NIP/KVK и т.д. поставщика",
                      "example": "1234567890",
                      "x-resolved-from": "#/components/schemas/supplierName"
                    },
                    "suppliedAtLocal": {
                      "type": "string",
                      "description": "Дата и время поставки в формате ISO 8601 (локальное время)",
                      "format": "date-time",
                      "example": "2011-08-01T18:31:42"
                    },
                    "invoiceDate": {
                      "type": "string",
                      "description": "Дата накладной",
                      "format": "date",
                      "example": "2011-08-01"
                    },
                    "invoiceNumber": {
                      "type": "string",
                      "description": "Номер накладной",
                      "example": "1-005"
                    },
                    "commercialInvoiceDate": {
                      "type": "string",
                      "description": "Дата счет фактуры",
                      "format": "date",
                      "example": "2011-08-01"
                    },
                    "commercialInvoiceNumber": {
                      "type": "string",
                      "description": "Номер счет фактуры",
                      "example": "1-005"
                    },
                    "totalPriceWithVat": {
                      "type": "number",
                      "description": "Общая цена с НДС в формате #.##",
                      "example": 110.99
                    },
                    "totalPriceWithoutVat": {
                      "type": "number",
                      "description": "Общая цена без налога в формате #.##",
                      "example": 100.55
                    },
                    "vatValue": {
                      "type": "number",
                      "description": "Размер налога в формате #.##",
                      "example": 10.44
                    },
                    "comment": {
                      "type": "string",
                      "description": "Комментарий к поставке",
                      "example": "Дополнительная информация о поставке"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Дата и время создания элемента поставки в UTC",
                      "format": "date-time",
                      "example": "2011-08-01T18:31:43.123456Z"
                    },
                    "modifiedAt": {
                      "type": "string",
                      "description": "Дата и время последнего изменения элемента поставки в UTC",
                      "format": "date-time",
                      "example": "2011-08-01T18:32:44.123456Z"
                    },
                    "isRemoved": {
                      "type": "boolean",
                      "description": "Удалена ли запись",
                      "example": false
                    },
                    "stockItems": {
                      "type": "array",
                      "description": "Список позиций сырья в поставке",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Идентификатор сырья",
                            "format": "uuid",
                            "pattern": "[0-9a-f]{32}",
                            "example": "000d3a240c719a8711e68aba13f7f862"
                          },
                          "name": {
                            "type": "string",
                            "description": "Название сырья",
                            "example": "Томаты"
                          },
                          "supplierName": {
                            "type": "string",
                            "description": "Название сырья от поставщика",
                            "example": "Томаты в банке"
                          },
                          "categoryName": {
                            "type": "string",
                            "enum": [
                              "Ingredient",
                              "SemiFinishedProduct",
                              "FinishedProduct",
                              "Inventory",
                              "Packing",
                              "Consumables"
                            ],
                            "title": "StockItemCategoryName",
                            "description": "Категория сырья:\n- `Ingredient` — ингредиент\n- `SemiFinishedProduct` — полуфабрикат\n- `FinishedProduct` — готовый продукт\n- `Inventory` — инвентарь\n- `Packing` — упаковка\n- `Consumables` — расходные материалы",
                            "example": "Ingredient",
                            "x-resolved-from": "#/components/schemas/StockItemCategoryName"
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Полученное количество в формате #.###",
                            "minimum": 0,
                            "example": 11.111
                          },
                          "measurementUnit": {
                            "type": "string",
                            "enum": [
                              "Quantity",
                              "Kilogram",
                              "Liter",
                              "Meter"
                            ],
                            "title": "MeasurementUnit",
                            "description": "Наименование единицы измерения",
                            "example": "Quantity",
                            "x-resolved-from": "#/components/schemas/MeasurementUnit"
                          },
                          "totalPriceWithVat": {
                            "type": "number",
                            "description": "Цена с НДС в формате #.##",
                            "example": 110.61
                          },
                          "totalPriceWithoutVat": {
                            "type": "number",
                            "description": "Цена без налога в формате #.##",
                            "example": 100.55
                          },
                          "pricePerMeasurementUnitWithVat": {
                            "type": "number",
                            "description": "Цена за единицу измерения с учетом НДС в формате #.##",
                            "example": 9.95
                          },
                          "vatRate": {
                            "type": "number",
                            "description": "Ставка налога в %",
                            "minimum": 0,
                            "maximum": 100,
                            "example": 10
                          },
                          "vatValue": {
                            "type": "number",
                            "description": "Размер налога в формате #.##",
                            "example": 10.06
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Дата и время создания записи о сырье в UTC",
                            "format": "date-time",
                            "example": "2011-08-01T18:31:43.123456Z"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "description": "Дата и время последнего изменения записи о сырье в UTC",
                            "format": "date-time",
                            "example": "2011-08-01T18:32:44.123456Z"
                          },
                          "isRemoved": {
                            "type": "boolean",
                            "description": "Удален ли элемент",
                            "example": false
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "supplierName",
                          "categoryName",
                          "quantity",
                          "measurementUnit",
                          "totalPriceWithVat",
                          "totalPriceWithoutVat",
                          "pricePerMeasurementUnitWithVat",
                          "vatRate",
                          "vatValue",
                          "createdAt",
                          "modifiedAt",
                          "isRemoved"
                        ]
                      }
                    }
                  },
                  "required": [
                    "incomingStockOrderId",
                    "unitId",
                    "unitName",
                    "organizationId",
                    "supplierId",
                    "supplierName",
                    "suppliedAtLocal",
                    "invoiceDate",
                    "invoiceNumber",
                    "commercialInvoiceDate",
                    "commercialInvoiceNumber",
                    "totalPriceWithVat",
                    "totalPriceWithoutVat",
                    "vatValue",
                    "comment",
                    "createdAt",
                    "modifiedAt",
                    "isRemoved",
                    "stockItems"
                  ],
                  "x-resolved-from": "#/components/schemas/IncomingStockSupply"
                }
              },
              "isEndOfListReached": {
                "type": "boolean",
                "title": "IsEndOfListReached",
                "description": "Индикатор того, что достигнут конец списка. Выдаёт true, если достигнут конец списка",
                "x-resolved-from": "#/components/schemas/IsEndOfListReached"
              }
            },
            "required": [
              "result",
              "isEndOfListReached"
            ]
          },
          "examples": {}
        },
        {
          "status": "400",
          "description": "#### Некорректный запрос.\n\nКоды ответа:\n - `ValidationError` - передан некорректный запрос\n\nКоды ошибок блока details.errors:\n  - `Required` - не передано обязательное поле\n  - `InvalidInput` - передано невалидное значение для параметра\n  - `TooManyUnits` - количество переданных заведений превышает лимит в одном запросе\n  - `DateOutOfRange` - передан невалидный временной интервал from-to\n  - `NegativeValue` - передано отрицательное значение для параметра, принимающего только положительные числа\n  - `ValueTooLarge` - переданное значение превышает максимальное значение для параметра\n  - `ValueTooSmall` - переданное значение меньше минимального значения",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContractBadRequest",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "ValidationError"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 400
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки.",
                "properties": {
                  "errors": {
                    "type": "array",
                    "description": "Список валидационных ошибок.",
                    "items": {
                      "type": "object",
                      "title": "BadRequestError",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "Код ошибки"
                        },
                        "field": {
                          "type": "string",
                          "description": "Параметр запроса, содержащий невалидные данные"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "field",
                        "message"
                      ],
                      "x-resolved-from": "#/components/schemas/BadRequestError"
                    }
                  }
                }
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContractBadRequest"
          },
          "examples": {
            "Example 1": {
              "value": {
                "field": "Take",
                "message": "The field Take must be between 1 and 100."
              },
              "x-resolved-from": "#/components/examples/QueryTake"
            },
            "Example 2": {
              "value": {
                "field": "Skip",
                "message": "The field Skip must be between 0 and 2147483647."
              },
              "x-resolved-from": "#/components/examples/QuerySkip"
            },
            "Example 3": {
              "value": {
                "field": "Units",
                "message": "The field Units must be a string or array type with a minimum length of '1'."
              },
              "x-resolved-from": "#/components/examples/QueryMinUnits"
            },
            "Example 4": {
              "value": {
                "field": "From",
                "message": "The From field is required."
              },
              "x-resolved-from": "#/components/examples/QueryRequiredFrom"
            },
            "Example 5": {
              "value": {
                "field": "To",
                "message": "The To field is required."
              },
              "x-resolved-from": "#/components/examples/QueryRequiredTo"
            },
            "Example 6": {
              "value": {
                "field": "IncludeRemoved",
                "message": "The IncludeRemoved field must be true or false."
              },
              "x-resolved-from": "#/components/examples/QueryIncludeRemoved"
            }
          }
        },
        {
          "status": "401",
          "description": "#### Пользователь не авторизован",
          "content_type": null,
          "schema": null,
          "examples": {}
        },
        {
          "status": "403",
          "description": "#### Недостаточно прав\n\nКоды ошибок:\n- `InsufficientRoles` - отсутствует необходимая роль для выполнения запроса\n- `InsufficientScopes` - нет доступа к api. В токене не передан необходимый scope.\n- `NoAccessToUnit` - нет доступа к заведению",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContract",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "NoAccessToUnit"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 403
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string",
                "example": "No access to the requested unit"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки. Может содержать дополнительную информацию об ошибке. Формат может отличаться в зависимости от кода ошибки."
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContract"
          },
          "examples": {}
        },
        {
          "status": "500",
          "description": "#### Внутренняя ошибка сервера\nКоды ошибок:\n - `InternalError` - внутренняя ошибка сервера",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "title": "ErrorContract",
            "properties": {
              "code": {
                "type": "string",
                "description": "Код ошибки",
                "example": "NoAccessToUnit"
              },
              "httpStatus": {
                "type": "integer",
                "description": "Http статус ответа",
                "format": "int32",
                "example": 403
              },
              "requestId": {
                "type": "string",
                "description": "Уникальный идентификатор запроса",
                "example": "0HLEACIU86PT6:0000000D"
              },
              "message": {
                "type": "string",
                "example": "No access to the requested unit"
              },
              "details": {
                "type": "object",
                "description": "Детализация ошибки. Может содержать дополнительную информацию об ошибке. Формат может отличаться в зависимости от кода ошибки."
              }
            },
            "required": [
              "code",
              "httpStatus",
              "requestId"
            ],
            "x-resolved-from": "#/components/schemas/ErrorContract"
          },
          "examples": {}
        }
      ],
      "scope_alternatives": [
        {
          "scheme": "Dodo oauth2",
          "scopes": [
            "accounting:read"
          ]
        }
      ],
      "scopes": [
        "accounting:read"
      ],
      "json_example": {
        "kind": "response",
        "status": "200",
        "name": "Сгенерировано из response schema",
        "value": {
          "result": [
            {
              "incomingStockOrderId": "000d3a240c719a8711e68aba13f7f862",
              "unitId": "000d3a240c719a8711e68aba13f7f862",
              "unitName": "Сыктывкар-1",
              "organizationId": "019c576054687058aa46b3f69790ab5f",
              "supplierId": "000d3a240c719a8711e68aba13f7f862",
              "supplierName": "ООО Продукты",
              "supplierTaxId": "1234567890",
              "suppliedAtLocal": "2011-08-01T18:31:42",
              "invoiceDate": "2011-08-01",
              "invoiceNumber": "1-005",
              "commercialInvoiceDate": "2011-08-01",
              "commercialInvoiceNumber": "1-005",
              "totalPriceWithVat": 110.99,
              "totalPriceWithoutVat": 100.55,
              "vatValue": 10.44,
              "comment": "Дополнительная информация о поставке",
              "createdAt": "2011-08-01T18:31:43.123456Z",
              "modifiedAt": "2011-08-01T18:32:44.123456Z",
              "isRemoved": false,
              "stockItems": [
                {
                  "id": "000d3a240c719a8711e68aba13f7f862",
                  "name": "Томаты",
                  "supplierName": "Томаты в банке",
                  "categoryName": "Ingredient",
                  "quantity": 11.111,
                  "measurementUnit": "Quantity",
                  "totalPriceWithVat": 110.61,
                  "totalPriceWithoutVat": 100.55,
                  "pricePerMeasurementUnitWithVat": 9.95,
                  "vatRate": 10,
                  "vatValue": 10.06,
                  "createdAt": "2011-08-01T18:31:43.123456Z",
                  "modifiedAt": "2011-08-01T18:32:44.123456Z",
                  "isRemoved": false
                }
              ]
            }
          ],
          "isEndOfListReached": false
        },
        "origin": "generated-from-openapi-schema"
      },
      "special_access": {
        "oauth_token_required": true,
        "oauth_flows": [
          "authorizationCode"
        ],
        "roles": [
          "Division administrator",
          "Store Manager"
        ],
        "unit_access_required": true,
        "drinkit_only": false,
        "manufacture_access_required": false,
        "notes": null
      },
      "deprecated": false
    },
    {
      "api": "Accounting API",
      "api_key": "accounting",
      "id": "get-shelf-life-settings",
      "title": "Справочники → Настройки условий хранения",
      "method": "GET",
      "path": "/manufactures/catalogs/shelf-life-settings",
      "links": [
        "https://api.dodois.io/accounting/manufactures/catalogs/shelf-life-settings",
        "https://api.dodois.com/accounting/manufactures/catalogs/shelf-life-settings"
      ],
      "all_links": [
        "https://api.dodois.io/accounting/manufactures/catalogs/shelf-life-settings",
        "https://api.dodois.com/accounting/manufactures/catalogs/shelf-life-settings"
      ],
      "server_count": 2,
      "description": "Возвращает список настроек условий хранения сырья, изменённых с момента `modifiedAt` (включительно), отсортированных по возрастанию даты изменения.\n\nПолучение всего списка выполняется следующим образом:\n- В первом запросе в качестве `modifiedAt` рекомендуется использовать наиболее раннее значение `0001-01-01T00:00:00.000000Z`;\n- Затем необходимо использовать `modifiedAt` последней записи из предыдущего ответа в качестве значения параметра `modifiedAt` следующего запроса;\n- Повторять до достижения `isEndOfListReached = true`.\n\nПри необходимости получить только записи, обновлённые с какого-то момента времени (включительно), в первом запросе в качестве `modifiedAt` отправляется соответствующая дата.\n\nЗапись может быть получена несколько раз до достижения конца списка `isEndOfListReached = true`:\n  - если запись была изменена в процессе получения списка;\n  - если запись расположена на границе запросов, то она будет возвращена и в первом, и во втором запросе, так как выборка данных для следующего запроса выполняется по условию \"дата изменения\" >= modifiedAt.\n\nГарантирует получение всех изменений сущности, но требует дедупликации возвращённых результатов на границе страниц.",
      "parameters": [
        {
          "name": "modifiedAt",
          "in": "query",
          "description": "Фильтр по дате последнего изменения записи (ISO 8601, UTC, с точностью до микросекунд). Будут возвращены записи, у которых дата изменения >= `modifiedAt`.\n",
          "required": true,
          "schema": {
            "type": "string",
            "description": "Дата и время последнего изменения записи в UTC (ISO 8601), с точностью до микросекунд",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}\\.\\d{6}Z$",
            "example": "2024-03-15T14:30:00.000001Z",
            "x-resolved-from": "#/components/schemas/ModifiedAt"
          },
          "x-resolved-from": "#/components/parameters/requiredModifiedAt"
        },
        {
          "name": "take",
          "in": "query",
          "description": "Количество записей, которые следует выбрать (максимум 1000)",
          "schema": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 100,
            "example": 100
          },
          "x-resolved-from": "#/components/parameters/takeLarge"
        },
        {
          "name": "includeRemoved",
          "in": "query",
          "description": "Включать в ответ удаленные записи",
          "schema": {
            "type": "boolean",
            "default": false,
            "example": false
          },
          "x-resolved-from": "#/components/parameters/includeRemoved"
        }
      ],
      "request_body": null,
      "responses": [
        {
          "status": "200",
          "description": "OK",
          "content_type": "application/json",
          "schema": {
            "type": "object",
            "properties": {
              "shelfLifeSettings": {
                "type": "array",
                "description": "Настройки условий хранения",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Уникальный идентификатор условий хранения",
                      "allOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "[0-9a-f]{32}",
                          "minLength": 32,
                          "maxLength": 32,
                          "example": "000d3a240c719a8711e68aba13f7f862",
                          "x-resolved-from": "#/components/schemas/Id"
                        }
                      ]
                    },
                    "stockItemId": {
                      "description": "Уникальный идентификатор сырья",
                      "allOf": [
                        {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "[0-9a-f]{32}",
                          "minLength": 32,
                          "maxLength": 32,
                          "example": "000d3a240c719a8711e68aba13f7f862",
                          "x-resolved-from": "#/components/schemas/Id"
                        }
                      ]
                    },
                    "manufacturer": {
                      "type": "string",
                      "nullable": true,
                      "description": "Название производителя",
                      "example": "ООО Ромашка"
                    },
                    "isRemoved": {
                      "type": "boolean",
                      "description": "Признак удалённой настройки. Если true — настройка была удалена. Используется для синхронизации удалений\n",
                      "example": false
                    },
                    "modifiedAt": {
[...]
